.wallet-form {
    width: 590px;
    height: 621px;
    top: 125px;
    left: 823px;
    border-bottom-left-radius: 111px;
    border-bottom-right-radius: 111px;
    border: 6px;
    background-color: aqua;

  }

  
  .form-container h2 {
    text-align: center;
    
  }
  .label{
    margin-left: 0;
  }
  .wallet-form label {
    display: block;
    margin-bottom: 20px;
    margin-top: 15px;
    
  }
  
  .wallet-form input {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .wallet-form button {
    width: 70%;
    height:  44px;
    padding: 12px, 16px, 12px, 16px;
    gap: 8px;
    opacity: 0.2px;
    border: none;
    
  }
  
  .wallet-form button:hover {
    background-color: #2E8B2E;
  }
  
  .wallet-form p {
    text-align: center;
    margin-top: 20px;
  }
  
  .wallet-form a {
    color: white;
    text-decoration: underline;
  }
  
  .wallet-form a:hover {
    color: #F0F0F0;
  }
  