.page-wrapper {
    background-color: #F7FBFA;
    display: flex;  
    flex-direction: row;
    justify-content: center;  
    width: 100%; 
}

.page-wrapper .blur-group {
    z-index: -1;
    height: 3727px;  
    left: 0;  
    opacity: 0.1; 
    position: absolute;  
    top: 0;  
    width: 3207px; 
}

.page-wrapper .blur-instance {
    background: linear-gradient(180deg, rgb(22.92, 105.51, 177.44) 0%, rgb(203, 216, 241) 100%) !important;  
    border-radius: 605.25px !important;  
    filter: blur(600px) !important;  
    height: 1210px !important;  
    left: 31px !important;  
    top: 279px !important;  
    width: 1210px !important; 
 }

 .page-wrapper .blur-5 {
    background: linear-gradient(180deg, rgb(22.92, 105.51, 177.44) 0%, rgb(203, 216, 241) 100%) !important;  
    border-radius: 790.5px !important;  
    filter: blur(300px) !important;  
    height: 1581px !important;  
    left: 1420px !important;  
    position: absolute !important;  
    top: 2146px !important;  
    width: 1581px !important; 
 }

 .page-wrapper .blur-5-instance {
    border-radius: 790.5px !important;  
    filter: blur(300px) !important;  
    height: 1581px !important;  
    left: 1354px !important;  
    mix-blend-mode: color-burn !important;  
    position: absolute !important;  
    top: 273px !important;  
    transform: rotate(-63.00deg) !important;  
    width: 1581px !important; 
 }

 .page-wrapper .design-component-instance-node {
    background: conic-gradient(from 180deg at 50% 50%, rgb(255, 204, 0) 0deg, rgb(41, 205, 106) 90deg, rgb(49, 180, 248) 180deg, rgb(236, 105, 43) 270deg, rgb(243, 103, 41) 360deg) !important;  
    border-radius: 605.25px !important;  
    filter: blur(600px) !important;  
    height: 1210px !important;  
    left: 31px !important;  
    top: 280px !important;  
    width: 1210px !important; 
 }

.wallet-display-wrapper{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: flex-start !important;
    padding-top: 50px;
}

.wallet-display {
   align-items: flex-start;  
   display: inline-flex;  
   flex: 0 0 auto;  
   flex-direction: column;  
   gap: 32px;  
   position: relative; 
 }

.total-balance{
    align-items: flex-start;  
    display: inline-flex;  
    flex: 0 0 auto;  
    flex-direction: column;  
    position: relative; 
 }

 .balance-heading {
    color: var(--coolgreen-800);  
    font-family: var(--COOL-button-font-family);  
    font-size: var(--COOL-button-font-size);  
    font-style: var(--COOL-button-font-style);  
    font-weight: var(--COOL-button-font-weight);  
    letter-spacing: var(--COOL-button-letter-spacing);  
    line-height: var(--COOL-button-line-height);  
    margin-top: -1.00px;   
    text-align: center;  
    position: relative; 
    white-space: nowrap;  
    width: fit-content;
 }

 .page-wrapper .currency-display {
    align-items: baseline;  
    display: inline-flex;  
    flex: 0 0 auto;  
    gap: 7px;  
    position: relative; 
 }

 .page-wrapper .number-display{
    color: var(--coolgreen-800);  
    font-family: var(--COOL-h2-font-family);  
    font-size: var(--COOL-h2-font-size);  
    font-style: var(--COOL-h2-font-style);  
    font-weight: var(--COOL-h2-font-weight);  
    letter-spacing: var(--COOL-h2-letter-spacing);  
    line-height: var(--COOL-h2-line-height);  
    margin-top: -1.00px;  
    position: relative;  
    text-align: center;  
    white-space: nowrap;  
    width: fit-content; 
 }

 .page-wrapper .currency-type {
    color: var(--coolgreen-800);  
    font-family: var(--COOL-button-font-family);  
    font-size: var(--COOL-button-font-size);  
    font-style: var(--COOL-button-font-style);  
    font-weight: var(--COOL-button-font-weight);  
    letter-spacing: var(--COOL-button-letter-spacing);  
    line-height: var(--COOL-button-line-height);  
    position: relative;  
    text-align: center;  
    white-space: nowrap;  
    width: fit-content; 
 }

 .page-wrapper .azero-bal {
    color: var(--coolgreen-500);  
    font-family: var(--COOL-button-font-family);  
    font-size: var(--COOL-button-font-size);  
    font-style: var(--COOL-button-font-style);  
    font-weight: var(--COOL-button-font-weight);  
    letter-spacing: var(--COOL-button-letter-spacing);  
    line-height: var(--COOL-button-line-height);  
    position: relative;  
    text-align: center;  
    white-space: nowrap;  
    width: fit-content; 
 }

 .button-wrapper {
    align-items: flex-start;  
    display: inline-flex;  
    flex: 0 0 auto;  
    gap: 16px;  
    position: relative; 
 }

 .button-wrapper .button-instance {
    flex: 0 0 auto !important; 
 }

 .button-wrapper .button-instance:hover {
    cursor: pointer;
 }

 .line {
    align-self: stretch;  
    width: 100%;
    height: 1px;  
    object-fit: cover;  
    position: relative;  
    width: 100%; 
    padding: 30px;
 }

 .search-wrapper {
    align-items: flex-start;  
    display: inline-flex;  
    flex: 0 0 auto;  
    gap: 24px;  
    position: relative; 
 }

 .search {
    align-items: center;  
    border: 1.5px solid;  
    border-color: var(--coolgreen-500);  
    border-radius: 12px;  
    display: flex;  
    gap: 8px;  
    height: 44px;  
    padding: 12px;  
    position: relative;  
    width: 280px; 
 }

 .text {
    background: transparent;  
    border: none;  
    color: var(--coolgreen-500);  
    flex: 1;  
    font-family: 'Wix Madefor Text', Helvetica;  
    font-size: 16px;  
    font-weight: 400;  
    letter-spacing: 0.16px;  
    line-height: 24px;  
    margin-bottom: -0.50px;  
    margin-top: -3.50px;  
    padding: 0;  
    position: relative; 
 }

 .magnifying-glass {
    height: 24px !important;  
    margin-bottom: -2.00px !important;  
    margin-top: -2.00px !important;  
    position: relative !important;  
    width: 24px !important; 
 }

 .dropdown-instance {
    background-color: unset !important;  
    border: 1.5px solid !important;  
    border-color: var(--coolgreen-500) !important;  
    width: 180px !important; 
 }

 .dropdown-2 {
    color: var(--coolgreen-500) !important;  
    font-family: 'Wix Madefor Text', Helvetica !important;  
    font-size: 16px !important;  
    font-style: unset !important;  
    font-weight: 400 !important;  
    letter-spacing: 0.16px !important;  
    line-height: 24px !important;  
    margin-top: -1.00px !important; 
 }

 .wallet-breakdown-wrapper {
    align-items: flex-start;  
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    gap: 38px;  
    position: relative;  
    width: 100%; 
 }

 .currencies-wrapper {
    align-items: center;  
    border: 1.5px solid;  
    border-color: var(--coolgreenprimary);  
    border-radius: 12px;  
    display: flex;  
    flex: 1;  
    flex-direction: column;  
    flex-grow: 1;  
    gap: 8px;  
    overflow: hidden;  
    position: relative; 
 }

 .currencies-heading {
    align-items: center;  
    background-color: var(--coolgreenprimary);  
    display: flex;  
    flex: 0 0 auto;  
    justify-content: space-between;  
    padding: 8px 12px;  
    position: relative;  
    width: 100%; 
 }

 .heading-5 {
    color: var(--coolblackprimary);  
    font-family: 'Wix Madefor Text', Helvetica;  
    font-size: 20px;  
    font-weight: 500;  
    letter-spacing: 0.40px;  
    line-height: 32px;  
    margin-top: -1.50px;  
    mix-blend-mode: multiply;  
    position: relative;  
    text-align: center;  
    white-space: nowrap;  
    width: fit-content;
    padding-left: 5px; 
 }

 .expand-arrows-wrapper {
    align-items: center; 
    display: inline-flex;  
    flex: 0 0 auto;  
    gap: 8px;  
    padding: 8px 4px;  
    position: relative; 
 }

 .expand-arrows {
    height: 16px !important;  
    position: relative !important;  
    width: 16px !important; 
    margin-left: auto;
 }

 .list-wrapper {
    align-items: center;  
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    flex-direction: column;  
    gap: 8px;  
    padding: 0px 8px;  
    position: relative;  
    width: 100%; 
 }

 .list {
    align-items: center;  
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    justify-content: space-between;  
    position: relative;  
    width: 100%; 
 }

 .frame-11 {
    align-items: center;  display: flex;  gap: 8px;  position: relative; width: 100%; 
 }

 .icon-instance-node {
    height: 36px !important;  position: relative !important;  width: 36px !important; 
 }

 .center-list-item {
    align-items: flex-start;  display: inline-flex;  flex: 0 0 auto;  flex-direction: column;  justify-content: center;  position: relative; 
 }

 .text-wrapper-2 {
    color: var(--coolblackprimary);  font-family: var(--COOL-caption-font-family);  font-size: var(--COOL-caption-font-size);  font-style: var(--COOL-caption-font-style);  font-weight: var(--COOL-caption-font-weight);  letter-spacing: var(--COOL-caption-letter-spacing);  line-height: var(--COOL-caption-line-height);  margin-top: -1.00px;  position: relative;  white-space: nowrap;  width: fit-content; 
 }

 .text-wrapper-3 {
    color: var(--coolgreen-500);  font-family: var(--COOL-caption-font-family);  font-size: var(--COOL-caption-font-size);  font-style: var(--COOL-caption-font-style);  font-weight: var(--COOL-caption-font-weight);  letter-spacing: var(--COOL-caption-letter-spacing);  line-height: var(--COOL-caption-line-height);  position: relative;  white-space: nowrap;  width: fit-content; 
 }

 .center-list-item-2 {
    align-items: flex-end;  display: inline-flex;  flex: 0 0 auto;  flex-direction: column;  justify-content: center;  position: relative; 
 }

 .collectibles-wrapper {
    align-items: center;  
    border: 1.5px solid;  
    border-color: var(--coolyellowprimary);  
    border-radius: 12px;  
    display: flex;  
    flex: 1;  
    flex-direction: column;  
    flex-grow: 1;  
    gap: 8px;  
    overflow: hidden;  
    position: relative; 
 }

 .collectibles-heading {
    align-items: center;  
    background-color: var(--coolyellowprimary);  
    display: flex;  
    flex: 0 0 auto;  
    justify-content: space-between;  
    padding: 8px 12px;  
    position: relative;  
    width: 100%; 
 }

 .collectibles-list-wrapper {
    align-items: center; 
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    flex-direction: column;  
    gap: 12px;  
    padding: 0px 8px;  
    position: relative;  
    width: 100%; 
 }

 .collectibles-list {
    align-items: flex-start; 
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    gap: 12px;  
    justify-content: center;  
    position: relative;  
    width: 100%; 
 }

 .others-wrapper {
    align-items: center;  
    border: 1.5px solid;  
    border-color: var(--coolorangeprimary);  
    border-radius: 12px;  
    display: flex;  
    flex: 1;  
    flex-direction: column;  
    flex-grow: 1;  
    gap: 8px;  
    overflow: hidden;  
    position: relative; 
 }

 .others-heading {
    align-items: center;   
    background-color: var(--coolorangeprimary);  
    display: flex;  
    flex: 0 0 auto;  
    justify-content: space-between;  
    padding: 8px 12px;  
    position: relative;  
    width: 100%; 
 }

 .others-list{
    align-items: center;  
    align-self: stretch;  
    display: flex;  
    flex: 0 0 auto;  
    flex-direction: column;  
    gap: 8px;  
    padding: 0px 8px;  
    position: relative;  
    width: 100%; 

 }

 .settings-wrapper {
    align-items: center;  
    display: inline-flex;  
    flex-direction: column;  
    gap: 8px; 
    top: 1001px; 
 }
 .mask-group {
    height: 96px;  
    position: relative;  
    width: 96px; 
 }
 .frame-25 {
    align-items: center;  
    display: inline-flex;  
    flex: 0 0 auto;  
    flex-direction: column;  
    position: relative; 
 }

 .heading-6 {
    color: var(--coolgreen-700);  
    font-family: 'Wix Madefor Text', Helvetica;  
    font-size: 14px;  
    font-weight: 400;  
    letter-spacing: 0.14px;  
    line-height: 21px;  
    margin-top: -1.00px;  
    position: relative;  
    text-align: center;  
    text-decoration: underline;  
    white-space: nowrap; 
     width: fit-content; 
 }


.blob {
   padding-bottom: 30px;
}
